/* Styling Pagination*/
.owl-theme .owl-dots{
	text-align:center;
	position:relative;
	margin-top:-52px;
	margin-bottom:30px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}
.owl-theme .owl-dots .owl-dot span {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 30px;
    display: block;
    height: 8px;
    margin: 5px 3px;
    transition: opacity 200ms ease 0s;
    width: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791 none repeat scroll 0 0;
}

/* If PaginationNumbers is true */