<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fitouthubme : Turnkey Fitout Solution Provider For Commercial And Residential Projects In Dubai.</title>
		<meta name='keywords' content='Office Interior Design and Office Furniture in Dubai, best interiors dubai, Dubai furniture , interior fit out companies in dubai , interior fit out dubai ,Dubai office furniture, office fitout, interior decoration company, interior design firms in dubai, modern office furniture, interior fit out companies in uae, Office Interior, Commercial Interior Design, Interior Office Design,' />
		<meta name='description' content='Fitout Hub Interiors having presence in Fitout interior solution of a decade, we have severed more than 1000 projects in Commercial and residential sectors which we proud of. Our unique design and on-time delivery made us to stand out of crowd. ' />

		<!-- CSS Files
			========================================================================= -->
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/orange.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/owl.carousel.css" rel="stylesheet">
		<link href="css/prettyPhoto.css" rel="stylesheet">
		<link href="css/jquery.bxslider.css" rel="stylesheet">
		<link href="css/animate.css" rel="stylesheet">
		<link href="css/elastislide.css" rel="stylesheet">
		<link href="css/nanogallery.css" rel="stylesheet">
		<link href="css/nanogallery_clean.css" rel="stylesheet">
		<link href="css/nanogallery_light.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-app="fitoutApp">
		<!-- Loader page
		<div id="pageloader">
			<div class="loader-item text-center">
				<div class="loader">Loading...</div>
			</div>
		</div>
		<!-- End loader page -->

		<!-- Primary Page Layout ========================================================================= -->
		<div id="home">
			<div id="slides_background">
            	<div id="mainbanner" class="owl-carousel">
					<div class="item slides_item1">
						<div class="container">
							<div class="row">
								 <video class="video-background" muted autoplay loop>
									<source type="video/mp4" src="videos/video01.mp4" >
								</video>
								<div class="col-lg-7 col-md-7 col-sm-12 item-column-logo">
									<img class="img-responsive" src="img/fitout_large_logo.png" width="150">
									<div class="introText">
										<span class="smallText">
											DESIGN&nbsp;&nbsp; | &nbsp;&nbsp;DERIVE&nbsp;&nbsp; | &nbsp;&nbsp;DEVELOP&nbsp;&nbsp; | &nbsp;&nbsp;DELIVER
										</span>
										<span id="js-rotating" class="heroText">
											Interior Turn Key Solution Provider, Workplace Optimisation Experts, Redefine Your Environment, Corporate Design & Build, Turn Key Design & Fit-Out, Bespoke Joinery Fabricators, Residential Optimisation Experts, Contract Material Supplier, One Stop Point for Fitout, Creating Sustainable Workspace
										</span>
										<span>
											<a href="images/Fitout Hub Interiors LLC-2015-2.pdf" target="_blank"><button class="btn btn-download"><i class="fa fa-download"></i> Download Broucher</button></a>
										</span>
									</div>
								</div>
								<div id="intro-form" class="col-lg-5 col-md-5 col-sm-12 item-column-content extra-top-50 text-center">
									<!-- Register Form -->
									<form class="quote_form" name="quote-form" class="row" method="post">
										<h4 class="blink_me" id="blinkText">Contact us for a free quote!</h4>
										<div id="input_name" class="col-md-12">
											<input id="quoteName" type="text" name="name" placeholder="Full Name" required="required">
										</div>
										<div id="input_email" class="col-md-12">
											<input id="quoteEmail" type="email" name="email" placeholder="Enter your email" required="required">
										</div>
										<div id="input_phone" class="col-md-12">
											<input id="quotePhone" type="number" name="phone" placeholder="Phone Number" required="required">
										</div>
										<p>We will never spam you, or sell your email to third parties. All fields are required</p>
										<!-- Submit Button -->
										<div id="form_register_btn" class="text-center">
											<input class="btn quote_bnt" type="submit" value="Submit" id="submit">
										</div>
									</form>	<!-- End Register Form -->
								</div>
							</div>
						</div>
					</div>
                     
					<div class="item slides_item2">
						<div class="container">
							<div class="row">
								<video class="video-background" muted autobuffer autoplay loop>
									<source type="video/mp4" src="videos/video01.mp4" />
								</video>
								<div class="col-lg-3 col-md-3 col-sm-3 item-column-logo wow bounceInUp">
									<img class="img-responsive" src="img/fitout_large_logo.png" width="150">
								</div>
								<div class="slider-content col-lg-9 col-md-9 col-sm-9 item-column-content wow fadeInUp" data-wow-duration="2s" data-wow-delay="4s">
									<div class="about_slide_content about_para1 opaque">
										<h2>We Are <span class="text_color">Interior Design</span> Experts</h2>
										<h4>Design can be a catalyst for positive change</h4>
										<div class="about-less">
											<p>Fitout Hub Interiors LLC, is a Team of expertise professionals in Work Place Optimisation, Residential Planner, Refurbishments, Bespoke Joinery/Furniture Fabricators and Relocations. Being denoted as “Turn Key Solution Provider” we undertake the projects of any ranges and stream in one single contract.</p>
											<p>Our teams of workplace consultants, office designers and construction experts have the most extensive, in-depth knowledge in the industry. Quite simply, we create world-class working environments.</p>
											<p>We believe that undertaking an office fit-out, Retail Store, Residential Villa, Refurbishment or a relocation should not looked upon as a daunting or strenuous experience, rather as an opportunity to increase the performance of your business. Research has actually shown that an intelligently designed and optimised workplace can increase office productivity by over 20%.</p>
											<p>The primary difference between us and our competitors is that we specialise in helping our Clients dramatically reduce their real estate and fit-out costs, whilst also enhancing the workplace environment to improve brand identity and increase staff productivity, morale and profit.</p>
											<p>With a team of 78 staff directly employed in-house, Fitout Hub is able to provide a team that fits, and who will guide your project through every stage of the way. From concept to completion, you can be confident you’re in safe hands.</p>
											<p class="link-read-more"><a href="#" class="showAboutMore">Read More</a></p>
										</div>
										<div class="about-more">
											<p>Fitout Hub Interiors LLC, is a Team of expertise professionals in Work Place Optimisation, Residential Planner, Refurbishments, Bespoke Joinery/Furniture Fabricators and Relocations. Being denoted as “Turn Key Solution Provider” we undertake the projects of any ranges and stream in one single contract.</p>
											<p>Our teams of workplace consultants, office designers and construction experts have the most extensive, in-depth knowledge in the industry. Quite simply, we create world-class working environments.</p>
											<p>We believe that undertaking an office fit-out, Retail Store, Residential Villa, Refurbishment or a relocation should not looked upon as a daunting or strenuous experience, rather as an opportunity to increase the performance of your business. Research has actually shown that an intelligently designed and optimised workplace can increase office productivity by over 20%.</p>
											<p>The primary difference between us and our competitors is that we specialise in helping our Clients dramatically reduce their real estate and fit-out costs, whilst also enhancing the workplace environment to improve brand identity and increase staff productivity, morale and profit.</p>
											<p>With a team of 78 staff directly employed in-house, Fitout Hub is able to provide a team that fits, and who will guide your project through every stage of the way. From concept to completion, you can be confident you’re in safe hands.</p>
											<p>We have ample resources to integrate all the key design and project management services, from your scheme’s conception to project completion.</p>
											<p>We believe there are many benefits to our in-house team approach (as opposed to the sub-contractors that many of our competitors use) as it allows us to fully control every aspect of the project and draw on a pool of experts from within the company to offer our Clients a unified and carefully considered, comprehensive solution.</p>
											<p>Our Clients state they most appreciate the following advantages:</p>
											<ul>
												<li>Cost and programme clarity and certainty</li>
												<li>Single point accountability</li>
												<li>Accelerated process, and the opportunity to fast track certain key tasks</li>
												<li>Greater flexibility</li>
												<li>Value for money</li>
												<li>Better overall control; especially extending through the design and construction phases of the project</li>
												<li>More effective design methodology</li>
												<li>Seamless teamwork</li>
											</ul>
											<p>Essentially, our approach works like this:</p>
											<h4>In-House People & Skills</h4>
											<p>All the key design and project management skills are in-house, meaning we have the ability to carry out the creative and layout work at the same time as we consider technical aspects of the project such as specification and budget.</p>
											<h4>Qualified & Trained Creative Consultants</h4>
											<p>Fitout Hub Interiors in-house creative teams are identical to pure design consultancies in terms of skill sets, approach, ingenuity and experience.</p>
											<p>All our Designers are qualified Architects or Design Consultants.</p>
											<p>We have an in-house state of the art visualisation studio available to all our Designers from which specialised graphics can help you visualise and develop your finished project.</p>
											<h4>Fast Track Project Development</h4>
											<p>The whole project can be divided into manageable packages that can be designed concurrently with both technical and budget development to meet tight programme deadlines.</p>
											<p>This contrasts with the traditional procurement route that demands the entire scheme must be designed before costing can begin.</p>
											<h4>Team Management</h4>
											<p>Each Project Team is managed by its own Senior Partner. The Design, Technical and Construction Teams work together from the outset to resolve every aspect of your project, meaning there are no overlaps and every detail is captured.</p>
											<h4>Design Control</h4>
											<p>Design concepts, visuals, colour boards and other presentation material is produced very early in the process so that scheme options can be discussed, adjusted and agreed at the outset.</p>
											<p>Clients have total influence over the look and feel of the schemes long before the Maris on site team commences.</p>
											<h4>Total Health & Safety Responsibility</h4>
											<p>By undertaking the Principal Contractor and CDM (Construction Design Management) Coordinator roles, for all projects, we shoulder full responsibility for Health and Safety.</p>
											<p>Our in-house Health and Safety Manager works closely with our Technical, Construction and Site Management Teams ensuring our construction sites comply fully with all relevant HSE (Health and Safety Executive) legislations, and the CDM Regulations 2007.</p>
											<p>We stay current on building codes, mobility and accessibility regulations, and encompass all developing ‘Green’ technologies.</p>
											<h4>Working Together</h4>
											<p>The Client has the opportunity to help select their Fitout Hub Project Team to ensure the team working on the project best suits their requirements.</p>
											<p>The entire Project Team selected will be introduced to the Client at the outset of the project.</p>
											<h4>Clear Communication</h4>
											<p>Fitout Hub Team will receive and communicate all project information, coordinating and liaising with the Client’s own team during weekly meetings and daily updates.</p>
											<h4>Bespoke Solutions</h4>
											<p>Another key Fitout Hub strength is our ability and willingness to get to grips with each Client’s particular circumstances and requirements, and then tailor the solution around them through our in-house department from Joinery to Information Technology.</p>
											<h4>Seamless Process</h4>
											<p>Having the design and project management skills in-house also means we have the ability to carry out the design work, technical developments, and costing processes simultaneously.</p>
											<p>As Fitout Hub design and construct the project in its entirety, there is no division of design responsibility. This ‘one stop’ design responsibility allows the Project Team to be clearly focused on design and programme expectations, and ensures that work is always progressing as expected.</p>
											<h4>Project Perfect</h4>
											<p>All Fitout Hub jobs are completed on time, to the highest quality, both satisfying and exceeding our Client’s expectations. Visit “Our Work” to see a large portfolio of recently completed projects.</p>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			</div>
		</div>
		<!-- menu ========================================================================= -->
		<div class="menu_dark2">
			<div class="navsticky">
				<nav class="navbar navbar-topaz" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand home" href="#home"><img src="img/nav_logo.png" alt="FitOutHub Interiors"></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li>
									<a href="#home" class="aboutus">
										<span class="fa fa-home" aria-hidden="true"></span>
										<span class="text-block">About Us</span>
									</a>
								</li>
								<li>
									<a href="#stats" class="stats">
										<span class="fa fa-bar-chart-o" aria-hidden="true"></span>
										<span class="text-block">Why Us</span>
									</a>
								</li>
								<li>
									<a href="#service" class="specialities">
										<span class="fa fa-bars" aria-hidden="true"></span>
										<span class="text-block">Specialities</span>
									</a>
								</li>
								<li>
									<a href="#achievements" class="achievements">
										<span class="fa fa-trophy" aria-hidden="true"></span>
										<span class="text-block">Achievements</span>
									</a>
								</li>
								<li>
									<a href="#portfolio">
										<span class="fa fa-briefcase" aria-hidden="true"></span>
										<span class="text-block">Portfolio</span>
									</a>
								</li>
								<li>
									<a href="#clients">
										<span class="fa fa-users" aria-hidden="true"></span>
										<span class="text-block">Clients</span>
									</a>
								</li>
								<li>
									<a href="#contact">
										<span class="fa fa-globe" aria-hidden="true"></span>
										<span class="text-block">Contact Us</span>
									</a>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container -->
				</nav>
			</div>
		</div>

		<!-- Our Stats Section
		========================================================================= -->
		<section id="stats" class="container" ng-controller="StatsController" style="padding-bottom:200px;">
			<div class="big_title">
				<div class="big_title_txt">Why Us</div>
				<div class="text_und_big_title">
					We are an award winning creative agency based in Wisconsin with a passion for helping our clients grow.
				</div>
				<div class="big_title_txt_separ background_color"></div>
			</div>
			<!-- skill pie start -->
			<div id="skills" class="row skillsrow">
				<div class="col-md-3 col-sm-6" ng-repeat="x in stats track by $index">
					<div class="circular-content">
						<div class="circular-item hidden">
							<div class="circular-pie" data-percent="{{x.value}}" data-color="#e74c3c">
								<span class="span-color">{{x.value - 1}}</span>
							</div>
							<div class="circ_counter_desc">
								<div class="skills_title">{{x.title}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- skill pie end -->
		</section>

		<!-- Our Company Section
		========================================================================= -->
		<section id="service">
			<div class="container service_3">
				<div class="big_title">
					<div class="big_title_txt">Our Services</div>
					<div class="text_und_big_title">
						Thus denotes "A TURNKEY SOLUTION PROVIDER"
					</div>
					<div class="big_title_txt_separ background_color"></div>
				</div>
				<div class="section_content">
					<div class="row wow fadeInUp">
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/acoustics.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Acoustics
								</div>
								<div class="service_p">
									<p>FITOUT HUB can design, supply and install a wide range of acoustically absorbent finishes to your facility’s walls and ceilings to assist sound control and enhance the acoustic environment of the areas people use for business, leisure or living.</p>
									<p>FITOUT HUB has remained focused on educating our clients on the fundamentals of acoustical planning in the workplace.</p>
									<p><b>For your complete peace of mind, the acoustic performance of your system is essential</b></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/design.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Design
								</div>
								<div class="service_p">
									<p>FITOUT HUB unique interior design services encompass total, turnkey solutions for our clients' Residential, commercial, Retails, Restaurants, Hospitals and villas etc., We design every aspect of the project from the wall and floor finishes to full kitchen and bathroom specifications and lighting and electrical design to procurement, installation and decoration.</p>
									<p>FITOUT HUB keeps our clients at the heart of the project, seeking regular sign offs to ensure that our client remains engaged in the decision making process.</p>
									<p><b>Design is a journey of Discovery</b></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row service_second_row wow fadeInUp">
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/execution.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Execution
								</div>
								<div class="service_p">
									<p>FITOUT HUB co-ordinate each and every aspect of our projects from the architectural plans to exterior design, landscaping and everything in between.</p>
									<p>Efficient site management, adherence to schedules and budgets, a flow of pertinent information to the client; these elements are critical to delivering a confident, reassured service, allowing the focus to remain on achieving the best design and craftsmanship possible.</p>
									<p><b>The key to the successful project plan is Execution</b></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/i4.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Customer Care
								</div>
								<div class="service_p">
									<p>We make best offers to boost your brand name of your business quia conntur magni dolores eos qui ratione voluptatem.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row service_second_row wow fadeInUp">
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/information.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Information
								</div>
								<div class="service_p">
									<p>The pace and continuing advance of I.T means that we must be able to advise and provide Clients with high-technology solutions.</p>
									<p>HENCE, FITOUT HUB also appreciate, welcome and propose to our clients the advanced technics in I.T. The knowledge and capability today would be compounded tomorrow that ease our work, when new technology offers even more ingenious ways to help run businesses.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/joinery.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Joinery
								</div>
								<div class="service_p">
									<p>FITOUT HUB Joinery division can supply (and fit if required) windows, doors, bi fold doors, stairs, conservatories and bespoke joinery items for both commercial and private projects.</p>
									<p>We can supply and install high quality items and the extensive use of advanced technology enables fast turn-around and competitive pricing to development and construction clients as well as private clients and public companies alike. We source only the highest quality of products from sustainable merchants.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row service_second_row wow fadeInUp">
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/furniture.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Furniture Supply
								</div>
								<div class="service_p">
									<p>Our specialist furniture division was established to provide clients with the definitive product and service package and FITOUT HUB offers a complete range of services, including furniture design consultancy, office furniture supply and management. As an independent furniture consultant and supplier, we are able to provide completely unbiased guidance in product selection, from the very best furniture solutions.</p>
									<p><b>From the funky to the functional or even the mature or conservative FITOUT HUB can find the solution that works best for you</b></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/i8.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Project Management
								</div>
								<div class="service_p">
									<p>We make best offers to boost your brand name of your business quia conntur magni dolores eos qui ratione voluptatem.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row service_second_row wow fadeInUp">
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/authority.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Authority Approval
								</div>
								<div class="service_p">
									<p>FITOUT HUB has full experience with the requirements of authorities and facility Management companies. Our services includes shop drawings preparation, civil defense, Dubai municipality, Dewa approvals and our head of design department insures all proposed designs comply with the guidelines and design codes of the different cities in UAE.</p>
									<p><b>Sensible Timeline” as Time is a Commodity these days</b></p>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/consultant.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Consultants
								</div>
								<div class="service_p">
									<p>As FITOUT HUB is a team we maintain close personal control over projects. The scope of our involvement varies from project to project.</p>
									<p>Our initial consultation enables us to understand the scope, design and aesthetic of your project. FITOUT HUB follows this up with a project and fee proposal detailing your requirements and our recommendations along with a proposed timeline and outline project costs as required.</p>
									<p><b>Here we call it Consultancy with Creative Thinking for “Ingenuity”!!!</b></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row service_second_row wow fadeInUp">
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/landscaping.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Interior Landscaping
								</div>
								<div class="service_p">
									<p>Combining functionality and beauty, our landscape design service turns outside space into a functional work of art. From roof terraces, dainty courtyards, to gardens, our goal is to ensure a strong visual relationship is maintained between exterior and interior design.</p>
									<p><b>Some look for a beautiful place, we make a place beautiful</b></p>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service_icon col-md-2">
								<img src="images/services/vastu.png">
							</div>
							<div class="service_right col-md-10">
								<div class="service_Tite">
									Vastu Consultant
								</div>
								<div class="service_p">
									<p>Interior Design is a profession concerned with anything that is found inside a space - walls, windows, doors, finishes, textures, light, furnishings and furniture.</p>
									<p>For those clients, who strongly have faith in Vastu Shastra makes their live in harmony with nature, FITOUT HUB render our Vastu Consultancy to follow the rules of Vaastu Shastra 100% in a structure / construction of the project. Planning the Interiors with the Vaastu is the option to it. By making arrangements of furniture, accessories, lighting in all designing the internal of the building.</p>
									<p><b>VASTU Tips for your projects</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Achievements section
		========================================================================= -->
		<section id="achievements" class="static2" ng-controller="AchievementController" style="padding-bottom: 250px">
			<div class="container text-center achievemnts">
				<div class="big_title">
					<div class="big_title_txt text-white">Proud of our achievements</div>
					<div class="text_und_big_title text-white">
						These numbers don't lie about us.
					</div>
					<div class="big_title_txt_separ background_color"></div>
				</div>
				<div class="row text-center static2_row static_content">
					<div class="col-lg-2 col-md-3 col-sm-6" ng-repeat="item in achievementList track by $index">
						<div class="static_icon">
							<i class="fa {{item.icon}}"></i>
						</div>
						<i class="static_line"></i>
						<div class="static_title">
							<div class="static_number" data-perc="{{item.value}}">
								<span class="factor">{{item.value}}</span>
							</div> {{item.title}}

						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Our work Section
		========================================================================= -->
		<section id="portfolio" class="container" ng-controller="ProtfolioController">
			<div class="big_title">
				<div class="big_title_txt">Portfolio</span></div>
				<div class="text_und_big_title">
					We are an award winning creative agency based in Wisconsin with a passion for helping our clients grow.
				</div>
				<div class="big_title_txt_separ background_color"></div>
			</div>
			<div class="section_content portfolio_section">
				<div id="portfolioGallery"></div>
			</div>
		</section>

		<!-- Our Clients Section
		========================================================================= -->
		<section id="clients" class="" style="padding-bottom: 150px">
		<div class="container">
			<div class="big_title">
				<div class="big_title_txt">Our Clients</div>
				<div class="text_und_big_title">
					Who loved working with us
				</div>
				<div class="big_title_txt_separ background_color"></div>
			</div>
			<div class="section_content">
				<div class="row partner_items">
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_acer.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_aearma.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_al-masah.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_alisons.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_alnajah.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_aral.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_beauty.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_biofade.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_cbi.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_compas.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_conser.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_delonghi.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_edible.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_enolia.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_hilton.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_kansi.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_lurpak.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_medispa.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_office.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_ontime.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_orsay.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_prime.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_puca.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_pyramid.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_rotana.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_sata.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_second_coffee.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_swerve.png" alt="Partner"></div>
					<div class="client-item"><img class="lazyOwl" data-src="images/clients/cl_zulekha.png" alt="Partner"></div>
				</div>
			</div>
		</div>
		</section>

		<!-- Contact Us Section
		========================================================================= -->
		<section id="contact" style="padding-top: 15px">
			<div class="big_title container">
				<div class="big_title_txt">Contact <span class="text_color">Us</span></div>
				<div class="text_und_big_title">
					Lets talk design.
				</div>
				<div class="big_title_txt_separ background_color"></div>
			</div>
			<div class="section_content">
				<div class="row" style="padding-bottom: 25px">
					<div class="container">
						<div class="col-md-6 contact_content_left">
							<form name="contact_form" method="post" action="" class="contact_form">
								<div class="row">
									<div class="col-md-6">
										<input type="text" class="conact_form_name" name="name" id="name" placeholder="Name" required/>
									</div>
									<div class="col-md-6">
										<input type="email" class="conact_form_email" name="email" id="email" placeholder="Email" required/>
									</div>
								</div>
								<div class="row contact_form_phone_block">
									<div class="col-md-12">
										<input type="text" class="conact_form_phone" name="phone" id="phone" placeholder="Phone Number" required/>
									</div>
								</div>
								<div class="contact_form_message_block">
									<textarea name="message" id="message" placeholder="Message" class="contact_form_message" required></textarea>
								</div>
								<div class="contact_form_btn_block">
									<input type="submit" value="Send" class="contact_form_bnt contact_btn"/>
									<input type="reset" value="Reset" class="contact_form_bnt "/>
								</div>
							</form>
						</div>
						<div class="col-md-4 col-md-offset-2">
							<div class="contact_right_details">
								<div class="address">
									<span><b>Fitout Hub Interiors LLC</b></span>
									<span>Al Qusais Industrial Area, Dubai, UAE</span>
									<span>PO Box: 77901</span>
								</div>
								<div class="contact">
									<span>Telephone: +971 4288 4567 | +971 4263 3990 </span>
									<span>Fax: +971 4288 4568</span>
								</div>
							</div>
							<div class="follow_us">
								<a target="_blank" href="https://www.facebook.com/fitouthub" class="follow_us_btn "><i class="fa fa-facebook"></i> </a>
								<a target="_blank" href="https://twitter.com/Fitouthub" class="follow_us_btn "><i class="fa fa-twitter"></i> </a>
								<a target="_blank" href="https://www.instagram.com/fitouthub/?hl=en" class="follow_us_btn "><i class="fa fa-instagram"></i> </a>
								<a target="_blank" href="https://plus.google.com/u/0/108739893337716703934" class="follow_us_btn "><i class="fa fa-google-plus"></i> </a>
								<a target="_blank" href="https://www.youtube.com/watch?v=F_Yva336pRI" class="follow_us_btn "><i class="fa fa-youtube"></i> </a>
								<a target="_blank" href="https://www.linkedin.com/home?trk=nav_responsive_tab_home" class="follow_us_btn "><i class="fa fa-linkedin"></i> </a>
							</div>
						</div>
					</div>
				</div>
				<div class="gmap">
					<div id="my_map"></div>
				</div>
			</div>
		</section>

		<!-- Footer
		========================================================================= -->
		<footer>
		<div class="footer3">
			<div class="container text-center">
				<div class="row">
					<div class="col-md-12">
						<span class="col-md-4">&copy; - 2016 <span class="text_color">Fitout Hub Interiors LLC</span></span>
						<span class="col-md-4"><a id="privacyPolicy" href="privacy_policy.html">Privacy Policy</a></span>
						<span class="col-md-4">Designed by <a href="http://innoveins.com" target="_blank"><b>Innoveins</b></a></span>
					</div>
				</div>
			</div>
		</div>
		</footer>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/angular.min.js"></script>

		<!-- Plugins for Bootstrap -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Jquery validate -->
		<script src="js/jquery.validate.min.js"></script>

		<!-- Jquery Appear -->
		<script src="js/vendors/jquery.appear.js"></script>

		<!-- jQuery Easing v1.3 -->
		<script src="js/vendors/jquery.easing.1.3.js"></script>

		<!-- Modernizr v2.7.1 -->
		<script src="js/vendors/modernizr-latest.js"></script>

		<!-- enquire -->
		<script src="js/vendors/enquire.min.js"></script>

		<!-- WoW animation -->
		<script src="js/vendors/wow.min.js"></script>

		<!-- Superslides - v0.6.2 - 2013-07-10 -->
		<script src="js/vendors/jquery.superslides.min.js"></script>

		<!-- FitVids 1.1 -->
		<script src="js/vendors/jquery.fitvids.js"></script>

		<!-- jQuery OwlCarousel v1.3.2 -->
		<script src="js/vendors/owl.carousel.min.js"></script>

		<!-- jPlayer 2.6.0 -->
		<script src="js/vendors/jquery.jplayer.min.js"></script>

		<!-- Isotop -->
		<script src="js/vendors/jquery.isotope.min.js"></script>

		<!-- jQuery countTo Plugin -->
		<script src="js/vendors/jquery.countTo.js"></script>

		<!-- jQuery Pretty Photo -->
		<script src="js/vendors/jquery.prettyPhoto.js"></script>

		<!-- Sticky -->
		<script src="js/vendors/jquery.sticky.js"></script>

		<!-- Nice Scroll -->
		<script src="js/vendors/jquery.nicescroll.js"></script>

		<!-- bxslider -->
		<script src="js/vendors/jquery.bxslider.min.js"></script>

		<!--jquery.mb.YTPlayer JS -->
		<script src="js/vendors/jquery.mb.YTPlayer.js"></script>

		<!-- One Page Nav -->
		<script src="js/vendors/jquery.nav.js"></script>

		<!-- Easy Pie Chart -->
		<script src="js/vendors/jquery.easy-pie-chart.js"></script>

		<!-- Easy Pie Chart -->
		<script src="js/vendors/morphext.min.js"></script>

		<!-- GMAP3 Plugin for JQuery -->
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>

		<script src="js/vendors/gmap3.min.js"></script>

		<!-- jQuery code for Masonry Blog
		<script src="js/vendors/script_masonryb.js"></script> -->


		<!-- jQuery code for Masonry Blog -->
		<script src="js/vendors/jquery.nanogallery.js"></script>

		<!-- jQuery code for plugins -->
		<script src="js/script.js"></script>
		<script src="js/fitout.js"></script>

		<script>
			$(document).ready(function(){
				$('video').get(0).play();
				$("video").autoplay = true;
				$("video").load();

				$("#mainbanner").owlCarousel({
					//autoPlay: 3000, //Set AutoPlay to 3 seconds
					singleItem:true,
					navigation : true,
					pagination : false,
					afterMove:moved,
					afterAction:attachEvent
				});
				function attachEvent() {
					$('video').get(0).play();
					$('video').get(1).play();
					//$('video').get(2).play();
					//$('video').get(3).play();
					$("video").autoplay = true;
				}

				function moved() {
					$('video').get(0).play();
					$('video').get(1).play();
					//$('video').get(2).play();
					//$('video').get(3).play();
					$("video").autoplay = true;
				}
				var carousel = $("#mainbanner");
				$(".home").click(function(){
					carousel.trigger('owl.goTo', 0)
				});
				$(".aboutus").click(function(){
					carousel.trigger('owl.goTo', 1)
				});
				/*
				$(".specialities").click(function(){
					carousel.trigger('owl.goTo', 2)
				});
				$(".achievements").click(function(){
					carousel.trigger('owl.goTo', 3)
				});
				*/

				/* text rotator */
				$("#js-rotating").Morphext({
					animation: "fadeInUp",
					separator: ",",
					speed: 5000,
					complete: function () {
						// Called after the entrance animation is executed.
					}
				});
				/* text rotator */
				$("#blinkText").Morphext({
					animation: "flash",
					separator: ",",
					speed: 1000,
					complete: function () {
						// Called after the entrance animation is executed.
					}
				});

			});
		</script>

		<!-- google analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-55070721-1', 'auto');
			ga('send', 'pageview');

		</script>

		<!-- zopim code -->
		<script type="text/javascript">
			window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
					d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
					_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
				$.src="//v2.zopim.com/?35J82HWjGOA20bgDJhXepGEiybTtjHRR";z.t=+new Date;$.
						type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
		</script>
	</body>
</html>
